<style>
.newsfeedoptions<?php echo $id;?>{
  display: block;
  padding: 1em;
  float: right;
  right: 1em;
  top: 1.5em;
  cursor: pointer;
}

.options<?php echo $id;?>, .options<?php echo $id;?>::before, .options<?php echo $id;?>::after {
  content: '';
  display: block;
  width: 4px;
  border-radius: 50%;
  height: 4px;
  background: #089ca4;
  transition: all ease-in-out 250ms;
}

.options<?php echo $id;?>::before {
  transform: translateY(-7px);
}

.options<?php echo $id;?>::after {
  transform: translateY(3px);
}

.options<?php echo $id;?>.is-open {
  transform: scale(1.5);
  background: #16db93;
}

.options<?php echo $id;?>.is-open::before {
  transform: translateY(0.2px);
  background: #16db93;
}

.options<?php echo $id;?>.is-open::after {
  transform: translateY(-4px);
  background: #16db93;
}
.like<?php echo $id;?>{
  width: 49%;
  display: inline-block;
  cursor: pointer;
  border-radius: 5px;
}
.like<?php echo $id;?>:hover{
  background-color: #eaf1f9
}
.comment<?php echo $id;?>{
  width: 49%;
  display: inline-block;
  cursor: pointer;
  border-radius: 5px;
}
.comment<?php echo $id;?>:hover{
  background-color: #eaf1f9;
}
.postspublic<?php echo $id;?>{
  text-align: center;
}
.comments_reveal<?php echo $id;?>{
  display: none;
}
.comments_reveal<?php echo $id;?>.open{
  display: block;
  width: auto;
  height: auto;
  max-height: 200px;
  overflow-y: scroll;
}

</style>
